<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>721316989519-slkvmcv0fn5htdlv5uiogl3qp6eq29ou.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.721316989519-slkvmcv0fn5htdlv5uiogl3qp6eq29ou</string>
	<key>API_KEY</key>
	<string>AIzaSyDYiGs4s8ZEwTfEoo9Ip-ZSpSBP4o6-ag8</string>
	<key>GCM_SENDER_ID</key>
	<string>721316989519</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.reactjs.native.example.easy-1</string>
	<key>PROJECT_ID</key>
	<string>esayone-9821d</string>
	<key>STORAGE_BUCKET</key>
	<string>esayone-9821d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:721316989519:ios:7d93afdd8a9b129443383a</string>
	<key>DATABASE_URL</key>
	<string>https://esayone-9821d.firebaseio.com</string>
</dict>
</plist>